<!DOCTYPE html>
<html>
<body>

<h1>Type your query to search CSA/NASA datasets</h1>
<br><br>

<form action="{{ url_for('results') }}" method="post">
    <textarea name="text" rows="5" cols="100" style="text-align:left;">I want to know more about WINDII and Doppler and performance</textarea>
    <br><br>
    <input type="submit" value="Submit">
</form>

<br><br><br><br>
<p>
<h3>Some sample queries for you to try out:</h3>

<ul>
  <li>I want to know more about earth’s atmosphere and geography</li>
  <li>How did the universe begin? What are the earliest stars?</li>
  <li>Give me data about Mars</li>
</ul>
<p>


</body>
</html>